@model StoryTeller.Models.Comment

<div class="col-md-6 col-md-offset-3">
    <hr />
    <h6>@Model.User.StoryTellerName</h6>
    <p>@Model.Text</p>
    <br />
    <p>@Model.Created</p>
    <hr />
</div>
