@model IEnumerable<StoryTeller.Models.Interfaces.IStory>

@{
    ViewBag.Title = "StoryTeller";
}

<div class="jumbotron">
    <h1>
        <img src="@Url.Action("UserProfilePhotoByAuthorization", "Photo" )" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
    </h1>
    <h1> MY HOME PAGE</h1>
</div>

<script type="text/javascript">

    var page = 0;
    var _inCallback = false;

    function loadProducts() {
        if (page > -1 && !_inCallback) {
            _inCallback = true;
            page++;
            $('div#loading').html('<p><img src="/Content/Images/ajax-loader.gif"></p>');
            $.get("/Home/Index/" + page, function (data) {
                if (data != '') {
                    $("#postsList").append(data);
                }
                else {
                    page = -1;
                }

                _inCallback = false;
                $('div#loading').empty();
            });
        }
    }

    var dcList = true;

    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            loadProducts();
        }
    });
</script>

<h2>@ViewBag.Message</h2>
<p>

</p>

<div id="postsList">
    @Html.Partial("~/Views/Home/Partial/_Stories.cshtml")
</div>

<div id="loading"></div> 




