@model IEnumerable<StoryTeller.Models.ApplicationUser>

@{Html.RenderPartial("~/Views/Search/Partial/_StoryTellerSearchForm.cshtml");}

<br />
<div class="row" id="people-data">
    @Html.DisplayFor(x => x)
</div>


@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#search-btn").click(function () {
                var searchTerm = $("#search-text").val();
                if (searchTerm.length == 0) {
                    alert("Enter some search text.");
                    $("#search-btn").focus();
                    return false;
                }

                $.get("/Search/SearchPeople", { searchText: searchTerm })
                .success(function (data) {
                    $("#people-data").html(data);
                });
            });

            $("#search-text").keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();
                    $("#search-btn").click();
                }
            });
        });
    </script>
}


