   /*#wrapper {
        background-color: #fff;
        width: 600px;
        padding: 50px 50px 0 50px;
        margin: 0 auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 5px #ccc;
    }*/
